# Python
backend/venv/
backend/.env
backend/uploads/
**/__pycache__/
*.pyc

# Node
frontend/node_modules/
node_modules/
dist/
build/

# Environment files
.env

# VS Code
.vscode/

# PostgreSQL
*.sql

# OS
Thumbs.db
.DS_Store